/* Color Pallet 
  #001220 - 
  #FBAE3C
*/

body {
  background-color: #001220;
  background-repeat: no-repeat;
  overflow: overlay;
  color: white;
}

/* Scroll bar */

* {
  scrollbar-width: auto;
  scrollbar-color: white;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 3px none #ffffff;
}

/* Navbar */

.navbar-person {
  text-align: center;
}

.navbar-itens {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
  position: relative;
  top: 5px;
}

.nav-item {
  border: 0px;
  position: relative;
}

.nav-span:hover {
  background: #949394;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
}

.nav-span {
  color: #dfe0e2;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.nav-line {
  display: block;
  margin: auto;
  width: 50%;
  border-bottom: 1px solid white;
  border-radius: 10px;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Cabeçalho */

.info-header {
  text-align: center;
  display: block;
  margin: auto;
  width: 30%;
  margin-bottom: 2rem;
}

/* Button */

.btnsubmit {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 45%;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btnsubmit:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btnsubmit:active {
  transform: translateY(-1px);
}

/* Footer */

footer {
  text-align: center;
  display: block;
  margin: auto;
  width: 35%;
  margin-top: 5rem;
}